<div class="flex items-center justify-center px-4 py-10 ">
  <div class="w-full max-w-5xl bg-white shadow-xl rounded-3xl p-6 md:p-10">
    <div class="flex items-center justify-between mb-8">
      <h1 class="text-2xl font-semibold">Profile</h1>

      <button
        (click)="goHome()"
        class="flex items-center gap-2 px-4 py-2 text-sm bg-indigo-600 text-white rounded-lg hover:bg-indigo-700 transition"
      >
        <!-- <mat-icon>arrow_back</mat-icon> -->
        Back to Home
      </button>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-5 border-b mb-10 text-center text-sm md:text-base">
      <button
        (click)="setTab('profile')"
        [ngClass]="activeTab() === 'profile' ? 'nav-button' : 'text-gray-700'"
        class="py-3 flex items-center justify-center gap-2"
      >
        <mat-icon class="text-blue-500">person</mat-icon>
        Profile
      </button>

      <button
        (click)="setTab('cart')"
        [ngClass]="activeTab() === 'cart' ? 'nav-button' : 'text-gray-700'"
        class="py-3 flex items-center justify-center gap-2"
      >
        <mat-icon class="text-green-500">shopping_cart</mat-icon>
        Cart
      </button>

      <button
        (click)="setTab('wishlist')"
        [ngClass]="activeTab() === 'wishlist' ? 'nav-button' : 'text-gray-700'"
        class="py-3 flex items-center justify-center gap-2"
      >
        <mat-icon class="text-red-500">favorite</mat-icon>
        Wishlist
      </button>

      <button
        (click)="setTab('orders')"
        [ngClass]="activeTab() === 'orders' ? 'nav-button' : 'text-gray-700'"
        class="py-3 flex items-center justify-center gap-2"
      >
        <mat-icon class="text-purple-500">receipt_long</mat-icon>
        Orders
      </button>

      <button
        (click)="setTab('address')"
        [ngClass]="activeTab() === 'address' ? 'nav-button' : 'text-gray-700'"
        class="py-3 flex items-center justify-center gap-2"
      >
        <mat-icon class="text-orange-500">location_on</mat-icon>
        Address
      </button>
    </div>

    <div *ngIf="activeTab() === 'profile'">
      <div class="flex flex-col md:flex-row md:items-center justify-between mb-8 gap-4">
        <div class="flex items-center gap-5">
          <div class="w-20 h-20 bg-gray-200 rounded-full flex items-center justify-center">
            <mat-icon class="text-4xl text-gray-600">person</mat-icon>
          </div>

          <div>
            <h2 class="text-xl font-semibold">{{ user().username }}</h2>
            <p class="text-gray-500">{{ user().email }}</p>
          </div>
        </div>

        <button
          class="flex items-center gap-2 bg-blue-600 hover:bg-blue-700 text-white px-5 py-2 rounded-lg transition"
        >
          <!-- <mat-icon>edit</mat-icon> -->
          Edit Profile
        </button>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="bg-gray-50 p-5 rounded-xl space-y-3">
          <p class="flex items-center gap-2">
            <mat-icon class="text-indigo-500">call</mat-icon>
            {{ user().phone }}
          </p>

          <p class="flex items-center gap-2">
            <mat-icon class="text-pink-500">location_city</mat-icon>
            {{ user().city }}
          </p>

          <p class="flex items-center gap-2">
            <mat-icon class="text-purple-500">map</mat-icon>
            {{ user().state }}
          </p>
        </div>

        <div class="bg-gray-50 p-5 rounded-xl space-y-3">
          <p class="flex items-center gap-2">
            <mat-icon class="text-orange-500">home</mat-icon>
            {{ user().addressLine1 }}, {{ user().addressLine2 }}
          </p>

          <p class="flex items-center gap-2">
            <mat-icon class="text-gray-600">pin_drop</mat-icon>
            {{ user().pincode }}
          </p>
        </div>
      </div>

      <div class="flex justify-end mt-10">
        <button
          (click)="logout()"
          class="bg-red-500 hover:bg-red-600 text-white px-6 py-2 rounded-lg transition"
        >
          Logout
        </button>
      </div>
    </div>

    <div *ngIf="activeTab() === 'cart'" class="">
      <app-cart></app-cart>
    </div>

    <div *ngIf="activeTab() === 'wishlist'" class="">
      <app-wishlist></app-wishlist>
    </div>

    <div *ngIf="activeTab() === 'orders'" class="text-center py-20 text-gray-500">No orders</div>

    <div *ngIf="activeTab() === 'address'" class="text-center py-20 text-gray-500">
      No addresses
    </div>
  </div>
</div>
