<div>

  <input 
    type="text"
    [value]="answer()"
    (input)="getValue($event)"
    class="border p-3 m-3"
  >

  <button (click)="onCheck()" class="bg-green-300 border p-3">Check</button>

  <div class="shosOutput m-3">

    @for (row of outputs(); track $index) {

      <div class="row">

        @for (letterObj of row; track $index) {

          <div 
            class="box"
            [style.background]="letterObj.color"
          >
            {{letterObj.letter}}
          </div>

        }

      </div>

    }

  </div>

</div>