<div class="flex flex-col lg:flex-row gap-6">
  <div class="w-full lg:w-1/4 border-r pr-4">
    <h2 class="text-xl font-semibold mb-4">Wishlists</h2>

    @if (isEmpty()) {
      <div class="text-gray-500">No wishlists available</div>
    }
    
    @else {
      <ul class="space-y-2">
        @for (list of wishLists(); track list.id) {
          <li class="flex justify-between items-center p-2 rounded-lg cursor-pointer transition-all"
              [class.bg-blue-100]="selectedWishlistId() === list.id"
              [class.hover:bg-gray-100]="selectedWishlistId() !== list.id"
              (click)="selectWishlist(list.id)">
            <span class="font-medium">{{ list.name }}</span>
            <button (click)="removeWishlist(list.id); $event.stopPropagation()" 
                    class="cursor-pointer text-red-500 hover:text-red-600 ml-2">
              <mat-icon>delete</mat-icon>
            </button>
          </li>
        }
      </ul>
    }
  </div>

  <div class="w-full lg:w-3/4">
    <h2 class="text-xl font-semibold mb-4">Products</h2>

    @if (isEmpty()) {
      <div class="text-gray-500">No wishlists available</div>
    }

    @else {
      @if (selectedWishlist(); as list) {
        <div>
          @if (list.products.length === 0) {
            <div class="text-gray-500">No products in this wishlist</div>
          }

          @else {
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
              @for (product of list.products; track product.id) {
                <div class="bg-white border rounded-xl relative flex flex-col items-center hover:shadow-md transition-shadow">
                  <button (click)="removeProduct(list.id, product.id)" 
                          class="cursor-pointer text-red-500 absolute top-2 right-2 w-6 h-6 rounded-full flex items-center justify-center transition-colors z-10"
                          mat-icon-button>
                    <mat-icon class="text-xs">delete</mat-icon>
                  </button>
                  
                  <img [src]="product.image" 
                       [alt]="product.name" 
                       class="w-32 h-32 object-cover rounded-lg mb-2 mt-8" />
                  <h4 class="text-sm font-medium text-center mb-1">{{ product.name }}</h4>
                  <p class="text-lg font-semibold text-green-600 mb-4">₹ {{ product.price }}</p>
                </div>
              }
            </div>
          }
        </div>
      }

      @else {
        <div class="text-gray-500">Select a wishlist to view products</div>
      }
    }
  </div>
</div>
