<div class="space-y-6">
  @if (cartItems.length === 0) {
  <div class="w-full text-center py-16 text-gray-500">Your cart is empty</div>
  } @else {
  <div class="flex flex-col lg:flex-row lg:items-center lg:justify-between gap-4">
    <p class="text-xl font-semibold">My Carts</p>

    <div class="flex flex-wrap items-center gap-3">
      <div class="text-base font-semibold text-gray-700">
        Total products : <span class="text-green-600">({{ totalItems }})</span>
      </div>
      <div class="text-base font-semibold text-gray-700">
        Total: <span class="text-green-600">₹{{ totalPrice }}</span>
      </div>

      <button
        (click)="removeAllCart()"
        class="cursor-pointer px-4 py-1.5 text-sm rounded-lg button-shadow text-red-600 hover:bg-gray-100"
      >
        Remove All
      </button>

      <button
        (click)="proceedToCheckout()"
        class="cursor-pointer px-6 py-1.5 text-sm rounded-lg button-shadow bg-blue-600 text-white hover:bg-blue-700"
      >
        Proceed to Checkout
      </button>
    </div>
  </div>

  <div class="flex flex-wrap gap-4">
    @for (item of paginatedItems; track item.id) {
    <div
      class="bg-gray-50 button-shadow rounded-xl p-3 w-full md:w-[48%] lg:w-[32%] relative flex gap-4 items-center"
    >
      <button
        (click)="removeFromCart(item)"
        class="cursor-pointer text-red-500 absolute top-2 right-2 w-6 h-6 rounded-full flex items-center justify-center transition-colors z-10"
        mat-icon-button
      >
        <mat-icon class="text-sm">delete</mat-icon>
      </button>

      <img [src]="item.image" alt="product" class="w-16 h-16 object-cover rounded-lg" />

      <div class="flex-1 pt-2">
        <h2 class="font-medium text-sm">{{ item.name }}</h2>
        <p class="text-gray-500 text-sm">₹{{ item.price }}</p>

        <div class="flex items-center gap-2 mt-2">
          <button (click)="decreaseQty(item)" class="w-6 h-6 bg-gray-200 rounded hover:bg-gray-300">
            -
          </button>
          <span class="text-sm">{{ item.quantity }}</span>
          <button (click)="increaseQty(item)" class="w-6 h-6 bg-gray-200 rounded hover:bg-gray-300">
            +
          </button>
        </div>
      </div>
    </div>
    }
  </div>

  <div class="flex justify-center items-center mt-8 gap-4">
    <button
      (click)="prevPage()"
      [disabled]="currentPage === 1"
      class="cursor-pointer px-4 py-1.5 text-sm rounded-lg border bg-white hover:bg-gray-100 disabled:opacity-40"
    >
      ← Prev
    </button>
    <span class="text-sm font-medium text-gray-600"> {{ currentPage }} / {{ totalPages }} </span>
    <button
      (click)="nextPage()"
      [disabled]="currentPage === totalPages"
      class="cursor-pointer px-4 py-1.5 text-sm rounded-lg border bg-white hover:bg-gray-100 disabled:opacity-40"
    >
      Next →
    </button>
  </div>
  }
</div>
